* {
    margin: 0;
    padding: 0;
}

.w-100 {
    width: 100% !important
}

.color-white {
    color: #fff !important
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    font-family: 'Arial MT', sans-serif;
    width: 1280px;
    margin: 0 auto;
}

.main-header {
    background-color: #445162;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.product-info {
    padding: 50px;
    margin: 0;
    position: relative;
}

.product-info h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 10px;
}

.product-info ul {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    list-style-type: none
}

.product-info ul li {
    position: relative;
}

.fa-check {
    padding-right: 8px;
}

header img {
    padding: 50px;
}

.about-product {
    padding: 50px;
    box-sizing: border-box;
}

.about-product-info {
    position: relative;
    margin: 0;
    width: 649px;
}

.about-product-info h1 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 30px;
}

.about-product-info p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 15px;
}

.dignity-product {
    padding: 50px;
    background-color: #f5f5f5;
}

.dignity-product h1 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-bottom: 30px;
}

.dignity-product-left p,
.dignity-product-right p {
    width: 526px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    padding-bottom: 15px;
}

.fa-plus {
    color: white;
    background-color: #4f5b6a;
    text-align: center;
    padding: 10px;
    margin-top: 2px;
    margin-right: 9px;
    margin-bottom: 50px; //не уверена, что это верное решение, но не нашла как еще сделать так, чтобы текст не обтекал иконку
}

.screenshots {
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.screenshots h1 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding-bottom: 35px;
}

.screenshots-wrapper {
    width: 1164px;
    display: flex;
    flex-wrap: wrap;
}

.screenshots-desc {
    margin-left: 5px;
    width: 359px;
}

.screenshots-desc h2 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
}

.screenshots-desc p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.screenshots-wrapper figure {
    display: flex;
    align-items: center;
    padding-bottom: 35px;
}

.figure-img {
    display: block;
    width: 200px;
    height: 150px;
}
